{% extends "college/layout.html" %}
{% block title %}
Vote
{% endblock %}
{% block content %}

<div style="margin: 0 10% 0 10%;">
    <form action="{% url 'college:save' course.course_name|slice:'0:4' course %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ course.course_name }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in course.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
    </form>

    <br>
    <a href="{% url 'college:course' course.course_name|slice:'0:4' course.course_name %}">View Results</a>
</div>

{% endblock %}