{% extends "college/layout.html" %}
{% block title %}
Classes
{% endblock %}
{% block content %}

<div class="center-text">
    <h1>Classes</h1>
    <h3>By Department</h3>

    <div class="row dept-row">
    {% for dept in departments %}
    <a class="fill-div" href="{{ dept }}"><div class="column sub-col dept-style">{{ dept }}</div></a>
        {% if forloop.last %}
            </div>
        {% else %}
            {% if forloop.counter|divisibleby:"3" %}
            </div><div class="row center-text dept-row">
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

{% endblock %}