{% extends "college/layout.html" %}
{% block title %}
Results
{% endblock %}
{% block content %}

<h1>{{ course.course_name }}</h1>
<h2>Top Professor{{ choices.count|pluralize }}</h2>

<ol>
{% for choice in choices|slice:":2" %}
    <li>{{ choice.choice_text }} - {% widthratio choice.votes total_votes 100 %}% ({{ choice.votes }} vote{{ choice.votes|pluralize }})</li>
{% endfor %}
</ol>

<a href="{% url 'college:vote' course.course_name|slice:'0:4' course.course_name %}">Cast a Vote</a>

{% endblock %}