{% extends "college/layout.html" %}
{% block title %}
Vote
{% endblock %}
{% block content %}

<form action="{% url 'college:vote' course.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ course.course_name }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in course.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>

<br>
<a href="{% url 'college:results' course.id %}">View Results</a>

{% endblock %}