{% extends "college/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<h1>List of Classes</h1>
{% if questions %}
    <ul>
    {% for question in questions %}
        <li><a href="{% url 'college:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No classes are available.</p>
{% endif %}

<h2>Top Voted Professors</h2>
{% for choice in choices %}
    <li>{{ choice.choice_text }} - {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}

{% endblock %}