<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- To update the CSS and show your changes on the local server, just update the version number. -->
    <link rel="stylesheet" type="text/css" href="{% static 'college/site.css' %}?version=1.53"/>
</head>

<body>
<header class="navbar">
    <div class="logo">
      <img src="" alt="" width="130"/>
    </div>
    <nav>
        <ul>
            <li class="active"><a href="{% url 'college:index' %}" class="navbar-item">Home</a></li>
            {% if user.is_authenticated %}
            <li class="nav-username">Hello, {{user.first_name}}!</li>
            <br>
            <li class="nav-logout"><a href="{% url 'accounts:logout' %}" class="navbar-item">Logout</a></li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}" class="navbar-item">Login</a></li>
            <br>
            <li class="nav-register"><a href="{% url 'accounts:register' %}" class="navbar-item">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p id="copyright">&copy; 2022 College Reviews</p>
    </footer>
</div>
</body>
</html>