{% extends "college/layout.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}

<div class="full-width-row">
    <form class="login" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <h2>Login</h2>
        <fieldset>
            <legend>Hi there!</legend>
            <p>
              <label for="title_1">
                Username:
                <input type="text" name="username" required>
              </label>
            </p>
            <p>
              <label for="title_2">
                Password:
                <input type="password" name="password" required>
              </label>
            </p>
            <div class="submit-button">
            <input type="Submit" class="form-submit">
            </div>
        </fieldset>

        <div class="error-message">
            {% for message in messages %}
            <h4> {{message}} </h4>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}