{% extends "college/layout.html" %}
{% block title %}
List of Teachers
{% endblock %}
{% block content %}

<h1 class="prof-name">{{ prof.name }}</h1>

<div class="center-text">
{% if prof.votes %}
<div class="row" id="prof-stats">
    <div class="column">
        <p>Average amount of homework:<br>
        {% load static %}
        <img style="vertical-align:middle" src="{% static 'college/' %}progress_bar{% widthratio prof.homework prof.votes 1 %}.png" width="150px" />
        {% widthratio prof.homework prof.votes 1 %}/5</p>

        <p>Amount of essays:<br>
        {% load static %}
        <img style="vertical-align:middle" src="{% static 'college/' %}progress_bar{% widthratio prof.essays prof.votes 1 %}.png" width="150px" />
        {% widthratio prof.essays prof.votes 1 %}/5</p>
    </div>
    <div class="column">
    <p>Importance of attendance:<br>
        {% load static %}
        <img style="vertical-align:middle" src="{% static 'college/' %}progress_bar{% widthratio prof.attendance prof.votes 1 %}.png" width="150px" />
        {% widthratio prof.attendance prof.votes 1 %}/5</p>

    <p>Average overall difficulty:<br>
        {% load static %}
        <img style="vertical-align:middle" src="{% static 'college/' %}progress_bar{% widthratio prof.difficulty prof.votes 1 %}.png" width="150px" />
        {% widthratio prof.difficulty prof.votes 1 %}/5</p>
    </div>
</div>
{% else %}
    <p>No data found.</p>

{% endif %}

<br><br>
<div class="center-text">
    <ul class="no-bullets">
        {% if user.is_authenticated %}
            <li><a href="{% url 'teachers:review' prof.name %}">Add a Review</a></li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a> to leave a review!</li>
        {% endif %}
        <li><a href="{% url 'teachers:teachers' %}">Go Back</a></li>
    </ul>
</div>

</div>
{% endblock %}