{% extends "college/layout.html" %}
{% block title %}
List of Teachers
{% endblock %}
{% block content %}

<h1 class="prof-name">{{ prof.name }}</h1>

{% if prof.homework_count %}
<div class="row center-text" id="prof-stats">
    <div class="column">
        <p>Average amount of homework:<br>
        {% load static %}
        <img style="vertical-align:middle" src="{% static 'college/' %}progress_bar{% widthratio prof.homework_sum prof.homework_count 1 %}.png" width="150px" />
        {% widthratio prof.homework_sum prof.homework_count 1 %}/5</p>

        <p>Average amount of essays:<br>
        {% load static %}
        <img style="vertical-align:middle" src="{% static 'college/' %}progress_bar{% widthratio prof.essays_sum prof.essays_count 1 %}.png" width="150px" />
        {% widthratio prof.essays_sum prof.essays_count 1 %}/5</p>
    </div>
    <div class="column">
    <p>Average importance of attendance:<br>
        {% load static %}
        <img style="vertical-align:middle" src="{% static 'college/' %}progress_bar{% widthratio prof.attendance_sum prof.attendance_count 1 %}.png" width="150px" />
        {% widthratio prof.attendance_sum prof.attendance_count 1 %}/5</p>

    <p>Average overall difficulty:<br>
        {% load static %}
        <img style="vertical-align:middle" src="{% static 'college/' %}progress_bar{% widthratio prof.difficulty_sum prof.difficulty_count 1 %}.png" width="150px" />
        {% widthratio prof.difficulty_sum prof.difficulty_count 1 %}/5</p>
    </div>
</div>
{% else %}
<div class="center-text">
    <p>No data found.</p>
</div>
{% endif %}

<br><br>
<div class="center-text">
    <a href="{% url 'teachers:review' prof.name %}">Add a Review</a><br><br>
    <a href="{% url 'teachers:teachers' %}">Back To All Teachers</a>
</div>

{% endblock %}