{% extends "college/layout.html" %}
{% block title %}
Register
{% endblock %}
{% block content %}

<div class="full-width-row">
    <form class="login" action="{% url 'accounts:register' %}" method="post">
        {% csrf_token %}
        <h2>Register</h2>
        <fieldset>
            <legend>Let's get started!</legend>
            <p>
                <label for="title_1">
                    First name:
                    <input type="text" name="first_name" required>
                </label>
            </p>
            <p>
                <label for="title_2">
                    Last name:
                    <input type="text" name="last_name" required>
                </label>
            </p>
            <p>
                <label for="title_2">
                    Username:
                    <input type="text" name="username" required>
                </label>
            </p>
            <p>
                <label for="title_2">
                    Email:
                    <input type="email" name="email" required>
                </label>
            </p>
            <p>
                <label for="title_2">
                    Password:
                    <input type="password" name="password1" required>
                </label>
            </p>
            <p>
                <label for="title_2">
                    Confirm your Password:
                    <input type="password" name="password2" required>
                </label>
            </p>
            <div class="submit-button">
            <input type="Submit" class="form-submit">
            </div>
        </fieldset>

        <div class="error-message">
            {% for message in messages %}
            <h4> {{message}} </h4>
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}