{% extends "college/layout.html" %}
{% block title %}
Review {{ prof.name }}
{% endblock %}
{% block content %}

<div class="full-width-row">
<form class="login" action="{% url 'teachers:save' prof.name %}" method="post"> <!--Eventually change link-->
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ prof.name }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <h2 class="small-h2">On a scale from 1 (low) to 5 (high)...</h2>

        <div class="review-category">
            <label for="homework">How much homework did this teacher assign?</label>
            <input class="review-num" type="number" name="homework" id="homework" value="1" min="1" max="5"><br>
        </div>

        <div class="review-category">
            <label for="essays">How many essays did this teacher assign?</label>
            <input class="review-num" type="number" name="essays" id="essays" value="1" min="1" max="5"><br>
        </div>

        <div class="review-category">
            <label for="attendance">How important was attendance in this teacher's classes?</label>
            <input class="review-num" type="number" name="attendance" id="attendance" value="1" min="1" max="5"><br>
        </div>

        <div class="review-category">
            <label for="difficulty">How difficult were this teacher's classes overall?</label>
            <input class="review-num" type="number" name="difficulty" id="difficulty" value="1" min="1" max="5"><br>
        </div>
    </fieldset>
    <input type="submit" value="Submit">
</form>
</div>

{% endblock %}