{% extends "college/layout.html" %}
{% block title %}
List of Teachers
{% endblock %}
{% block content %}

<div class="center-text">

    <h1>Top Voted Professors</h1>
    <ul class="no-bullets">
    {% for choice in choices|slice:":5" %}
        <li>{{ choice.choice_text }} - {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %} 
    </ul>

    <h1>Teachers</h1>
    <h3>By Rating</h3>
    
    <form action="{% url 'teachers:teachers' %}" class="float-right">
        <input ype="search" aria-label="search" name="search">
        <input class="form-submit" type="submit" value="Search">
    </form>

    <div class="row dept-row">
    {% for teacher in teacher_list %}
    <a class="fill-div" href="{{ teacher }}"><div class="column sub-col teacher-style">{{ teacher }}</div></a>
        {% if forloop.last %}
            </div>
        {% else %}
            {% if forloop.counter|divisibleby:"4" %}
            </div><div class="row center-text dept-row">
            {% endif %}
        {% endif %}
    {% endfor %}


    <ul class="no-bullets">
        {% if user.is_authenticated %}
            <li><a href="{% url 'input:add_teacher' course.course_name %}">Add a Missing Teacher</a></li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a> to add a missing teacher!</li>
        {% endif %}
        <li><a href="{% url 'teachers:teachers' %}">Go Back</a></li>
    </ul>


</div>

{% endblock %}