
/* ------------- NAV BAR ------------- */
* {
    transition:all 0.3s ease-in-out;
}

.navbar {
    clear: both;
    overflow: auto;
    background-image: linear-gradient(#D3D3D3, darkgray);
    padding: 0 10px 0 0;
    border-bottom: 2px;
    border-color: black;
    border-style: groove;
}

nav {
    float:right;
}

.logo img {
    float: left;
    padding: 10px;
}

nav ul li {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: raleway, sans-serif;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
  color:orange;
}

/* ------------- HEADINGS ------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
}

.main-heading {
    text-align: center;
    font-size: 48px;
}

.prof-name {
    text-align: center;
}

/* ------------- TEXT ------------- */

p, a, label {
    font-family: raleway, sans-serif;
}

.tagline {
    text-align: center;
    font-size: 24px;
}

#copyright, .center-text {
    text-align: center;
}

li > a {
    color: rgb(61, 0, 152);
}

.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* ------------- COLUMN LAYOUT ------------- */
.column {
    flex: 1;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}

.row {
    display: flex;
}

.dept-row {
    padding: 10px
}
.dept-col {
    padding: 30px 15px 30px 15px;
    font: 24px raleway, sans-serif;
    color: rgb(0, 56, 146);
}

#home-col {
    padding: 10px;
    margin: 10px;
}

#prof-stats {
    padding: 0 25% 0 25%;
}

@media screen and (max-width: 1024px) {
    #prof-stats {
        padding: 0 15% 0 15%;
    }
}
@media screen and (max-width: 600px) {
    .row {
        display: block;
    }
    #prof-stats {
        padding: 0 0 0 0;
    }
}

