/* ------------- COLOR SCHEME ------------- 

GENERAL:
background: Onyx: #36373A;
navbar: Blue Charcoal: #24272A;
links: Orange Yellow Crayola: #FFD670;

SQUARES:
By Instructor: Cedar Chest: #CE5C3F;
By Class: Olive Drab 3: #6C8724;
Future Column: Steel Teal: #568582;

NEED MORE COLORS?
Here are the base colors. You can generate more by
unlocking one or two, and then hit the spacebar!
https://coolors.co/568582-36373a-ce5c3f-ffd670-6c8724
*/







/* ------------- GLOBAL ------------- */

html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    color: white;
    background-color: #36373A;
    cursor: default;
}




/* ------------- NAV BAR ------------- */
* {
    transition:all 0.3s ease-in-out;
}

.navbar {
    background-color: #24272A;
    clear: both;
    overflow: auto;
    padding: 0 10px 0 0;
    border-bottom: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: black;
    border-style: solid;
    margin: 0;
}

nav {
    float:right;
}

.logo img {
    float: left;
    padding: 3px;
}

nav ul li {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: raleway, sans-serif;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color:#FFD670;
    transform: scale(1.5);
}

.nav-username {
    border: none;
}

.nav-logout, .nav-register {
    position: relative;
    font-size: small;
    float: right;
    border: none;
    top: -15px;
}





/* ------------- HEADINGS ------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
}

.main-heading {
    text-align: center;
    font-size: 48px;
}

.prof-name {
    text-align: center;
}





/* ------------- TEXT ------------- */

p, a, label {
    font-family: raleway, sans-serif;
}

.tagline {
    text-align: center;
    font-size: 24px;
}

#copyright, .center-text {
    text-align: center;
}

li > a {
    color: #FFD670;
}

li > a:hover {
    color: white;
}

.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}





/* ------------- COLUMN LAYOUT ------------- */
.column {
    flex: 1;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}

.row {
    display: flex;
}

.dept-row {
    padding: 10px
}
.dept-col {
    padding: 30px 15px 30px 15px;
    font: 24px raleway, sans-serif;
    color: rgb(0, 56, 146);
}

#home-col {
    padding: 10px;
    margin: 10px;
}

#prof-stats {
    padding: 0 25% 0 25%;
}

@media screen and (max-width: 1024px) {
    #prof-stats {
        padding: 0 15% 0 15%;
    }
}
@media screen and (max-width: 600px) {
    .row {
        display: block;
    }
    #prof-stats {
        padding: 0 0 0 0;
    }
}






/* ------------- LOGIN & REGISTER FORMS ------------- */
form.login {
    padding-top: 5vh;
    padding-bottom: 10vh;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

form > input {
    margin-top: 30px;
}

div.full-width-row {
    display: block;
    text-align: center;
}

.submit-button {
    width: 100%;
    text-align: center;
}

.form-submit {
    width: 80%;
    margin-top: 5px;
    padding: 5px;
}

.form-submit:hover {
    background-color: #FFD670;
}

.error-message {
    color: red;
}